@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --cor-principal:#007d96; 
  --cor-do-titulo: #0a9396;
  --cor-da-logo:#002544;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--cor-principal);
  padding: 1rem;
}

nav h1{
  text-align: center;
  color: white;
}

#tech{
  color:var(--cor-da-logo);
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.links{
  transition: background-color 0.3s ease;
  transition: font-size 0.3s ease;
}

.links:hover{
  background-color: #5293a0;
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
}

ul li{
  margin-top: 5px;
}

main {
  padding: 2rem;
}

main p{
  font-size: 20px;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#sec5 img {
  width: 65%;
}

h2 {
  color: var(--cor-do-titulo);
}

footer {
  background-color: var(--cor-principal);
  color: #fff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  nav ul {
      flex-direction: column;
      text-align: center;
  }
  main {
      padding: 1rem;
  }
}
html{
  scroll-behavior: smooth;
}

.logo img{
  width: 90px;
  margin-left: 43%;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin: 20px;
}

.nav-list li a:hover{
  text-decoration: underline 2px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px;
  transition: all 0.3s;
}

/* Add this to display mobile menu on smaller screens */
@media (max-width: 768px) {
  .nav-list {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    text-align: center;
  }

  .nav-list.active {
    display: flex;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}